[submodule "hand_pose_action"]
	path = hand_pose_action
	url = https://github.com/guiggh/hand_pose_action.git
[submodule "src\\Pointnet_Pointnet2_pytorch"]
	path = src\\Pointnet_Pointnet2_pytorch
	url = git@github.com:tungts1101/Pointnet_Pointnet2_pytorch.git
